@use "./abstract/" as *;
.dashboard {
  width: 85%;
  margin-inline: auto;
  margin-block-start: rem(20);
  // for laptop
  @include breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 230px 2fr;
    gap: rem(20);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: rem(15);
  }
  // style user column
  &__user {
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;
    border-radius: rem(10);
    margin-block-end: rem(10);
    @include breakpoint-up(lg) {
      margin-block-end: 0;
      // height: calc(100% + 15px);
    }
    & > * {
      padding-inline-start: rem(20);
    }
  }

  &__userDetails {
    display: flex;
    align-items: center;
    gap: rem(15);
    background-color: $blue;
    border-radius: inherit;
    padding-block-start: rem(30);
    padding-block-end: rem(30);
    @include breakpoint-up(sm) {
      justify-content: center;
    }

    @include breakpoint-up(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__userImage {
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    @include breakpoint-up(sm) {
      margin-block-end: rem(20);
    }
  }

  &__userTitle {
    display: flex;
    flex-direction: column;
  }

  &__userName {
    color: white;
    font-weight: 600;
    font-size: rem(25);
    // for 525px and up
    @include breakpoint-up(sm) {
      max-width: 10ch;
      line-height: 1.5;
      padding-block-end: rem(50);
    }
  }

  &__option {
    display: flex;
    justify-content: space-around;
    margin-block-start: rem(20);
    margin-block-end: rem(20);
    // for laptop
    @include breakpoint-up(lg) {
      flex-direction: column;
    }
    ul {
      list-style: none;
      &:not(:last-child) {
        margin-block-end: rem(15);
      }
    }
    li {
      color: $des-blue;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: white;
      }
      &.active {
        color: white;
      }
    }
  }

// style card container
  &__cardsWrapper {
    // for 525px and up
    @include breakpoint-up(sm) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: rem(20);
    }

    // for laptop
    @include breakpoint-up(lg) {
      grid-template-columns: repeat(3, 200px);
    }
  }

  // style card itself 
  &__card {
    border-radius: rem(10);
  }

  &__waterMark {
    position: relative;
    width: 100%;
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    img {
      position: absolute;
      right: 0;
      width: 50px;
    }
  }

  &__cardInfo {
    background-color: $blue;
    border-radius: rem(10);
    position: relative;
    top: rem(-10);
    height: 80%;
    color: white;
    padding-inline: rem(20);
    padding-block-start: rem(10);
  }

  &__cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 600;
    }

    .options {
      display: flex;
      gap: rem(3);
      padding-block: rem(10);
      cursor: pointer;

      span {
        display: block;
        width: rem(5);
        height: rem(5);
        border-radius: 50%;
        background-color: $pale-blue;
        transition: all 0.3s;
      }

      &:hover span {
        background-color: white;
      }
    }
  }

  &__jsonDataWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: rem(10);
    padding-block-end: rem(30);
    flex-wrap: wrap;

    @include breakpoint-up(md) {
      margin-block: rem(10);
      padding: 0;
    }

  }
  &__jsonData {
    font-size: rem(25);
    font-weight: 500;
    // for laptop
    @include breakpoint-up(lg) {
      margin-block-end: rem(15);
      margin-block-start: rem(10);
      margin-inline-end: rem(25);
      font-size: rem(28);
    }
  }

  &__jsonPrev {
    font-size: rem(12);
    color: $pale-blue;
    @include breakpoint-up(lg) {
      font-size: rem(14);
    }
  }
}

.w {
  background-color: $work-c;
}
.p {
  background-color: $play-c;
}
.st {
  background-color: $study-c;
}
.ex {
  background-color: $exercise-c;
}
.so {
  background-color: $social-c;
}
.sc {
  background-color: $selfCare-c;
}
